/* 전체 컨테이너 */
.cessation-container {
    height: 100vh;
    width: 100vw;
    background-color: #B7E1E2;

    display: flex;
    flex-direction: column;
}

.cessation-header {
    background-color: #85BCBD;
    position: relative;
    height: 15vh;
    width: 100%;
    
}

/* header logo */
.cessation-header-logo {
    position: absolute;
    left: 5%;
    bottom: 15%;
    height: 6vh;
    
}

/* ------------------------------------- */

/* 메인 컨텐츠 */
.cessation-main {
    flex: 1 1 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.cessation-record {
    width: 100vw;
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 3vh;
    font-size: 5vw;
    font-weight: 500;
}

.cessation-logo {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin : 0;
}

.cessation-shadow {
    animation: shrinkShadow 3s infinite ease-in-out; /* 애니메이션 추가 */
    scale: 0.8;
}

.cessation-cloud {
    padding-left: 2.5vw;
    scale: 0.8;
    animation: moveUp 3s infinite ease-in-out;
}

.cessation-time {
    width: 100vw;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transform: translateY(-3vh);
    font-size: 8vw;
    font-weight: 500;
}

.cessation-time div:nth-child(2) {
    margin-top: 1vh;
    font-size: 60%;
}

.cessation-report {
    flex-grow: 3;
}

.cessation-report-container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.cessation-report-black {
    background-color: #404B4B;
    height: 23vh;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.cessation-report-white {
    width: 80vw;
    background-color: white;
    height: 100%;
    transform: translateY(-10%);
    border-radius: 10px;
    display: flex;
    justify-content: start;
    flex-direction: column;
}

.cessation-report-title {
    display: flex;
    justify-content: center;
}

.cessation-report-title > div {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    transform: translateY(-50%);
    border-radius: 30px;
    background-color: #73A7A8;
    color: white;
    height: 5vh;
}

.cessation-report-details {
    flex-grow: 1;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.cessation-report-details > div {
    width: 15vh;
    transform: translateY(-10%);
    aspect-ratio: 1 / 1;
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1.5px grey;
}

.cessation-report-box {
    display: flex;
    flex-direction: column;
}

.cessation-report-box > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
}

.cessation-report-box > div:not(:nth-child(2)) {
    flex-grow: 1;
}

.cessation-report-time-img,
.cessation-report-money-img {
    flex-grow: 2;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.cessation-report-time-img {
    background-image: url('../../assets/extendtime.png');
}

.cessation-report-money-img {
    background-image: url('../../assets/savedmoney.png');
}

.cessation-footer {
    width: 100%;
    background-color: white;
}

/* ------------ Modal ------------- */

/* 모달 오버레이 */
.cessation-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

/* 모달 */
.cessation-modal {
    background: white;
    border-radius: 10px;
    width: 70vw;
    aspect-ratio: 1 / 1;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transform: translateY(-15vh);

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cessation-modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cessation-modal-image {
    width: 25vw;
    height: 25vw;
    margin-top: 4vh;
}

.cessation-menu-icon {
    position: absolute;
    top: 50%;
    right: 5%;
    width: 8vw;
    height: 8vw;
    cursor: pointer;
}

/* ------------ Menu Modal Overlay ------------- */
.cessation-menu-modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: flex-end;
    z-index: 100;
    opacity: 0;
    animation: fadeIn 0.3s forwards;
}

.cessation-menu-modal {
    background-color: white;
    width: 70vw;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    z-index: 101;
    display: flex;
    flex-direction: column;
    transform: translateX(100%);
    animation: slideIn 0.3s forwards;

    overflow-y: auto;
}

.cessation-menu-header {
    background-color: #85BCBD;
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5vw;
    color: white;
    font-weight: bold;
}

.cessation-menu-body {
    display: flex;
    flex-direction: column;
}

.cessation-menu-section {
    margin-top: 4vh;
    padding: 0 8vw 0 8vw;
    border-radius: 8px;
}

.cessation-menu-title {
    font-weight: bold;
    font-size: 1.5rem;
    display: block;
    margin-bottom: 1vh;
    color: #333;
    cursor: default;
}

.cessation-menu-body hr {
    margin: 2vw 0;
    border: none;
    border-top: 1px solid #ccc;
}



.cessation-message {
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    font-size: 5vw;
    font-weight: 500;
}

.retry-button {
    margin-top: 1vh;
    padding: 0.5rem 1rem;
    background-color: #008285;
    color: white;
    border: none;
    border-radius: 8px;

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

    color: white;
    font-size: 1.4rem;
    width: 75vw;
    height: 8vh;
}

.retry-button:hover {
    background-color: #5d8f90;
}
