.shop-container {
  flex-grow: 1; /* 헤더와 상품 그리드 사이의 영역 채우기 */
  display: flex;
  flex-direction: column;
  overflow: hidden; /* 내부에서만 스크롤 가능 */
  max-width: 400px;
  margin: auto;
  background-color: white;
  padding: 20px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.shop-header {
  text-align: left;
  color: #333;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 30px;
  margin-bottom: 10px;
}

.shop-explain {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.explainImg {
  margin-left: 8px;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.shop-header h1 {
  font-size: 24px;
  font-weight: bold;
}

.shop-header p {
  font-size: 11px;
  color: #777;
}

.bottomline {
  border-bottom: 1px solid #85bcbd;
}

.itemtype {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.itemtype p {
  font-size: 16px;
  color: #888888;
}

.itemtotal {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3px;
  margin-bottom: 20px;
  font-size: 16px;
  padding: 0 11px;
}

.product-grid {
  flex-grow: 1; /* 남은 공간을 모두 차지 */
  overflow-y: auto; /* 내부 스크롤 활성화 */
  display: grid;
  grid-template-columns: 1fr 1fr; /* 두 개의 열로 설정 */
  gap: 10px; /* 카드 사이의 간격 */
  padding-right: 10px; /* 스크롤바와 카드 간격 */
  margin-top: 10px;
}

.product-card {
  background-color: white;
  padding: 10px;
  border-radius: 8px;
  text-align: left;
}

.product-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 1px;
}

.product-description {
  font-size: 13px;
  color: #353535;
  margin: 1px 0;
}

.product-price {
  display: inline-block;
  padding: 0;
  margin: 0;
  font-size: 15px;
  color: black;
  font-weight: bold;
}

.product-rating {
  font-size: 16px;
  color: #85bcbd;
  margin-top: 1px;
}

/* 정렬 모달 스타일 */
.sort-modal {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: white;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  box-shadow: 0px -2px 8px rgba(0, 0, 0, 0.2);
  padding: 30px;
  z-index: 1000;
  text-align: left;
}

.sort-modal h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
  padding-left: 15px;
}

.sortTitle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sort-modal-close {
  position: absolute;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}

.sortlist {
  list-style: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.list {
  height: 30px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 15px;
  color: #636363;
  cursor: pointer;
  font-size: 20px;
  border-radius: 5px;
}

.list:hover {
  background-color: #b7e1e2;
}
.list:active {
  background-color: #b7e1e2;
}

.selected {
  background-color: #b7e1e2;
  color: black;
  font-weight: bold;
}

.selected-category {
  font-weight: bold;
  color: #b7e1e2;
  cursor: pointer;
}
