/* 전체 컨테이너 */
.Start-Container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    width: 100vw;
    background-color: #B7E1E2;
}

/* Header */
.Start-Header {
    background-color: #85BCBD;
    height: 15%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.Header-logo {
    height: 60%;
}

/* Main Section */
.Start-Main {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    position: relative;
}

/* Time Section */
.MainTime {
    flex-grow: 1;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    font-weight: 500;
}

/* Logo Section */
.Start-Mainlogo {
    flex-grow: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

/* 애니메이션 효과 추가 */
.start-circleimg {
    position: absolute;
    transform: scale(1.1);
    animation: float-circle 2.5s infinite ease-in-out;
    /* 애니메이션 추가 */
}

.start-cloudimg {
    position: absolute;
    transform: scale(1.1) translate(-30%, 10%);
    animation: float-cloud 2.5s infinite ease-in-out;
    /* 애니메이션 추가 */
}

/* Button Section */
.Mainbutton {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.Btn1 {
    width: 75vw;
    height: 8vh;
    color: white;
    font-size: 1.4rem;
    font-weight: bold;
    box-shadow: 0px 4px 4px grey;
    background-color: #008285;
    border: none;
    border-radius: 8px;
    cursor: pointer;

}

.Btn1:hover {
    background-color: #005f5f;
    transform: translateY(-2px);
}

/* Footer Section */
.Start-Footer {
    flex-shrink: 0;
    width: 100%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

/* 애니메이션 키프레임 */
@keyframes float-circle {

    0%,
    100% {
        transform: scale(1.1) translateY(4%);
    }

    50% {
        transform: scale(1.1) translateY(-5%);

    }
}

@keyframes float-cloud {

    0%,
    100% {
        transform: scale(1.1) translate(-30%, 10%);
    }

    50% {
        transform: scale(1.1) translate(-30%, -10%);

    }
}